/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./iziToast-overwrite.css');
@import url('./simplelightbox-overwrite.css');
@import url('loader.css');
@import url('gallery.css');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 36px;
  font-family: 'Montserrat', sans-serif;
}

/* Search form */

.form-search-container {
  display: flex;
  justify-content: center;
}

.form-search {
  display: flex;
  gap: 8px;
}

.form-search-input {
  display: block;
  outline: 0 none;

  padding-left: 16px;
  padding-right: 16px;

  font-family: 'Montserrat', sans-serif;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #000;

  width: 272px;
  height: 40px;

  border-radius: 4px;

  border: 1px solid #808080;
  transition: border 0.3s linear;
}

.form-search-input:hover {
  border-color: #000;
}

.form-search-input:focus {
  border-color: #4e75ff;
}

.form-search-btn {
  display: inline-flex;
  cursor: pointer;

  height: 40px;

  padding: 8px 16px;

  border: 0 none;
  background-color: #4e75ff;
  color: #ffffff;
  border-radius: 8px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 0.3s linear, color 0.3s linear;
}

.search-btn:hover {
  background-color: #6c8cff;
}
